
.sectionTitle {
    // border-radius: 100% 0 0 100%;
    margin: 0.5rem 0 0.5rem 2rem;
    padding: 0.2rem 0 0.2rem 4rem;
    font-size: 1.6rem;
    color: white;
    background: linear-gradient(90deg, rgba(50,100,150,0.8) 0%, rgba(255,255,255,0) 70%);
}